@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    overflow-x: hidden;
}

.main {
    background-image: url(assets_netflix/Images/bg.jpg);
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main .box {
    height: 70vh;
    width: 100vw;
    background-color: black;
    opacity: 0.69;
    position: absolute;
    top: 0;
}

nav {
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img {
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 161px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    /* our text will pop out */
    font-family: "Martel Sans", sans-serif;
    gap: 23px;
    padding: 30px;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    /*can change the font to poppins700*/
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(248, 243, 243, 0.02);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    font-weight: 400;
}

.btn-red-sm {
    border: none;
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-weight: 900;
    font-size: 12px;
    color: white;
    border-radius: 4px;
    border: 2px solid rgba(246, 238, 238, 0.7);
    background-color: rgba(23, 23, 23, 0.5);
}

.first {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: 25px auto;
    /* border: 2px solid red; */
}



.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 110px;
    right: 70px;
    width: 420px;
    z-index: -1;
}

.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 24px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background-color: black;
    padding: 34px;
    color: white;
}

.faqbox:hover {
    background-color: #171717;
}

.faqbox {
    transition: all .2s ease-in-out 0s;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    font-size: 24px;
    cursor: pointer;
    margin: 34px auto;
}
.answer{
    margin-top: 15px;
    display: none;
    color:aliceblue;
    font-size: 1rem;
    line-height: 1.5;
}
.faqbox.answer .active{
    display: block;
}
.active{
    height: 20vw;
    transition: .3s all ease;
}
footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions {
    padding: 34px 0px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width:1300px) {

    /* body{
        background-color: red;
    } */
    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 235px;
        top: 80px;
        left: 30px;
    }

    .hero> :nth-child(1) {

        font-size: 32px;

    }

    .hero> :nth-child(2) {

        font-size: 18px;

    }

    .hero> :nth-child(3) {

        font-size: 18px;

    }

    /* .main input{
        padding: 7px 53px 8px 14px;
    } */
    .hero-buttons {
        flex-direction: column;
    }

    .faq h2 {
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
    }

    .footer-items {
        align-items: center;
    }
}

@media screen and (max-width:1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 29px;
    }
}

.footer a {
    color: white;
    font-size: 14px;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 23px;
}